noscript {
	border: 5px solid red;
	display: block;
	margin: auto;
	padding: 50px;
	text-align: center;
	width: 300px;
}

.syncButton {
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 2em;
	border: solid 1px #CCC;
	padding: 5px;
	-moz-border-radius: 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px;
	width: 2em;
	text-align: center;
	cursor: pointer;
	background-color: black;
	color: white;
}

#note.active #deletenote {
	display: none;
}

body {
	font: 14px/1.4 "Helvetica Neue", "Lucida Grande", "Arial";
	margin: 0;
	background-color: #DEDDD8;
}

#backstage {
	width: 100%;
	padding: 0px;
	background-color: black;
	margin: 0px 0px 10px 0px;
	height: 32px;
	text-align: center;
	background: -moz-linear-gradient(center bottom,#222 0%, #333 50%, #555 100%);
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #222),color-stop(0.5, #333),color-stop(1, #555));
	background: -moz-linear-gradient(center bottom,#222 0%, #333 50%, #555 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F5555, endColorstr=#F2222);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F5555, endColorstr=#F2222)";
}

#backstage a {
	color: white;
	padding: 4px;
	border-top: solid 1px #CCC;
	display: block;
	-webkit-border-radius: 5px;
	border-left: solid 1px #444;
	border-right: solid 1px #444;
	border-bottom: solid 1px #333;
	margin-right: 8px;
}

#backstage a:hover {
	background-color: #FFA500;
}

#backstage li {
	display: inline-block;
	line-height: 18px;
	margin-top: 2px;
}

h2,h3,h4,h5 {
	margin-bottom: 0px;
}

a {
	color: royalBlue;
}

a:hover {
	color:#4169C8;
}

.header {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F7F7F7), color-stop(1, #EEE));
	background: -moz-linear-gradient(top, #F7F7F7 0%, #EEE 100%);
	background: linear-gradient(top, #F7F7F7 0%, #EEE 100%);
	border: solid 1px #CCC;
	min-height: 120px;
	padding-top: 6px;
	padding-left: 8px;
	position: relative;
}

.siteicon {
	background-image: url(/SiteIcon);
	height: 96px;
	width: 96px;
	background-repeat: no-repeat;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	background-size: 96px 96px;
	position: absolute;
	right: 6px;
	top: 8px;
}

.takenotedashboard,
.takenotecontainer {
	width: 900px;
}

.takenotedashboard .footer {
	text-align: center;
	font-style: italic;
	font-size: 0.8em;
	color: gray;
	font-weight: bold;
	border-top: solid 1px #CCC;
}

.takenotedashboard .footer,
.takenotedashboard .header,
.takenotedashboard .viewer,
#note,
.messageArea {
	width: 500px;
}

.note_title {
	width: 380px;
}

/* landscape mode */
@media all and (min-width: 480px) and (max-width: 800px) {
	body,
	.takenotedashboard,
	.takenotecontainer {
		width: 800px;
	}

	.takenotedashboard .footer,
	.takenotedashboard .header,
	.takenotedashboard .viewer,
	#note,
	.messageArea {
		width: 780px;
	}

	.note_title {
		width: 680px;
	}
}

/* portrait mode */
@media all and (min-width: 321px) and (max-width: 480px) {
	body,
	.takenotedashboard,
	.takenotecontainer {
		width: 480px;
	}

	.takenotedashboard .footer,
	.takenotedashboard .header,
	.takenotedashboard .viewer,
	#note,
	.messageArea {
		width: 460px;
	}

	.note_title {
		width: 340px; /* 300 - 120 */
	}
}

.takenotedashboard,
.takenotecontainer {
	margin: auto;
	position: relative;
	display: none;
}

.takenotedashboard,
.takenotecontainer.ready {
	display: block;
}

#note {
	position: relative;
	border: solid 1px black;
}

.takenotedashboard .footer,
.takenotedashboard .header,
.takenotedashboard .viewer,
#note,
.messageArea {
	margin: 0 auto;
}

.messageArea {
	font-family: monospace;
	border: solid 1px #ccc;
	color: #333;
	padding: 10px 0px;
	text-indent: 4px;
	color: green;
	opacity: 0;
}

.messageArea.warning {
	color: #FFBF00;
}

.messageArea.error {
	color: red;
}

.messageArea.displayed {
	opacity: 1;
	-webkit-transition: opacity 0.4s ease-in;
}

.takenotedashboard .header,
.takenotedashboard .viewer,
#note,
.note_title {
	background-color: white;
}

.takenotecontainer h1 {
	font-size: 3em;
}

#notebody {
	position: relative;
	border: 1px solid gray;
	margin-top: 18px;
	padding: 1em 1em 2em;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(0, 0, 0, 0.5);
}

#newnote {
	height: 24px;
	width: 30px;
	position: absolute;
	top: 6px;
	right: 4px;
	padding: 5px;
	background-repeat: no-repeat;
	background-image: url(saveTiddler.png);
}

.notedate {
	float: right;
	color: rgba(0,0,0, 0.5);
	margin-left: 32px;
}

#notebody textarea {
	background: transparent;
	width: 100%;
	height: 300px;
	border: none;
	outline: none;
	clear: both;
	margin-top: 0.5em;
}

#metabutton {
	background: gray;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.3;
	border-radius: 0 0 5px 5px;
	padding: 10px;
	position: absolute;
	bottom: -52px;
	left: 224px;
	-webkit-transition: height 0.2s ease-in-out, bottom 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-moz-transition: height 0.2s ease-in-out, bottom 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-o-transition: height 0.2s ease-in-out, bottom 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-ms-transition: height 0.2s ease-in-out, bottom 0.2s ease-in-out, opacity 0.2s ease-in-out;
	transition: height 0.2s ease-in-out, bottom 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

#metabutton:hover {
	opacity: 0.7;
	height: 35px;
	bottom: -55px;
}

#newnote:hover,
#metabutton:hover {
	cursor: pointer;
}

#notemeta {
	background: gray;
	background: rgba(0,0,0,0.2);
	background-image: -moz-repeating-linear-gradient(-45deg,
		transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
	background-image: -webkit-repeating-linear-gradient(-45deg,
		transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
	border: 1px dashed rgba(0,0,0,0.4);
	border-width: 0 1px 1px 1px;
	border-radius: 0 0 5px 5px;
	margin: 0 24px;
	overflow: hidden;
}

#notemeta .paddedbox {
	padding: 10px;
}

#notemeta ul {
	list-style: none;
}

.note_title {
	border: none;
	font-size: 3em;
	outline: none;
	text-shadow: 3px 3px 3px #CCC;
}

.note_title:focus {
	text-shadow: none;
}

#deletenote {
	position: absolute;
	top: 4px;
	right: 70px;
	background-image: url(delete.png);
	background-repeat: no-repeat;
	height: 30px;
	width: 20px;
}

#deletenote,
#newnote {
	cursor: pointer;
	opacity: 0.3;
	overflow: hidden;
	text-indent: -9999px;
}

#newnote:hover,
#deletenote:hover {
	opacity: 1;
}

.connectionStatus.a:hover,
.connectionStatus {
	display: block;
	background-color: red;
}

.online .connectionStatus.a:hover,
.online .connectionStatus {
	display: block;
	background-color: green;
}

.requiresConnection {
	display: none;
}

.online .requiresConnection {
	display: block;
}
