noscript {
	border: 5px solid red;
	display: block;
	margin: auto;
	padding: 50px;
	text-align: center;
	width: 300px;
}

#backstage a.syncButton {
	display: none;
}
.syncButton {
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 2em;
	border: solid 1px #CCC;
	padding: 5px;
	-moz-border-radius: 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px;
	width: 2em;
	text-align: center;
	cursor: pointer;
	background-color: black;
	color: white;
}

#note.active #deletenote {
	display: none;
}

body {
	font: 14px/1.4 "Helvetica Neue", "Lucida Grande", "Arial";
	margin: 0;
	background-image: url(bg.png);
}

#backstage {
	width: 100%;
	padding: 0px;
	background-color: black;
	margin: 0px 0px 0px 0px;
	height: 32px;
	text-align: center;
	background: -moz-linear-gradient(center bottom,#222 0%, #333 50%, #555 100%);
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #222),color-stop(0.5, #333),color-stop(1, #555));
	background: -moz-linear-gradient(center bottom,#222 0%, #333 50%, #555 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F5555, endColorstr=#F2222);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F5555, endColorstr=#F2222)";
}

#backstage a {
	color: white;
	padding: 4px;
	display: block;
	text-decoration: none;
}

#backstage li:first-child {
	border-right: solid 1px #777;
}

#backstage li:nth-child(2) {
	border-left: solid 1px #555;
}

#backstage a:hover {
	background-color: #FFA500;
}

#backstage li {
	display: inline-block;
	line-height: 18px;
	margin-top: 2px;
	padding: 0px 10px;
}

#backstage .status {
	color: #CCC;
	float: right;
	font-size: 0.8em;
}

#backstage .status {
	color: #666;
	opacity: 0.5;
}

h2,h3,h4,h5 {
	margin-bottom: 0px;
}

a {
	color: royalBlue;
}

a:hover {
	color:#4169C8;
}

.header {
	border-bottom: 7px solid rgba(26, 31, 30, 0.95);
	padding-bottom: 20px;
	position: relative;
}

.siteheading {
	position: relative;
}

.header h1 {
	color: #4C4A54;
	font-size: 4em;
	line-height: 48px;
	text-shadow: 0px 2px 2px white;
	padding-top: 10px;
	margin-top: 0px;
	padding-left: 72px;
}

.toolpanel input,
.toolpanel h2,
.toolpanel ul {
	margin-left: 120px;
}

.toolpanel h2 {
	text-shadow: 0px 1px 1px white;
}

.toolpanel .section {
	border-bottom: 1px solid #DCE7F1;
	border-top: 1px solid #F8F8F8;
	padding: 24px;
}

.section.searchSection {
	background-image: url(/icon-search.png);
	background-position: 80px 15px;
	background-repeat: no-repeat;
}

.section.recentSection {
	background-image: url(/icon-recent.png);
	background-position: 80px 15px;
	background-repeat: no-repeat;
}

.section.incompleteSection {
	background-image: url(/icon-incomplete.png);
	background-position: 80px 15px;
	background-repeat: no-repeat;
}

.toolpanel .section ul {
	list-style: none;
}

.siteicon {
	background-image: url(SiteIcon);
	height: 56px;
	width: 56px;
	background-repeat: no-repeat;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	background-size: 56px 56px;
	position: absolute;
	left: 6px;
	top: 8px;
}

.toolbar {
	position: absolute;
	top: -40px;
	width: 100%;
}


.takenotedashboard .footer {
	text-align: center;
	font-style: italic;
	font-size: 0.8em;
	color: gray;
	font-weight: bold;
	border-top: solid 1px #CCC;
}

.takenotedashboard .footer,
#note,
.messageArea {
	width: 500px;
}

.note_title {
	font-family: Georgia;
	line-height: 48px;
	color: #4C4A54;
	width: 468px; /* 500 - 32 padding */
}

.takenotecontainer {
	width: 540px;
	background: rgba(255,255,255, 0.7);
}

.takenotedashboard {
	width: 540px;
	background-color: #F0F4F8;
	padding-bottom: 40px;
}

.note_title_container {
	width: 556px;
	margin-left: -28px;
	-webkit-box-shadow: 0px 1px 1px rgb(96,106,115);
	position:relative;
	background-color: #DCE7F1;
}

@media all and (min-width: 480px) {
	.note_title_container:before {
		content: "";
		position: absolute;
		bottom: -8px;
		left: 0px;
		border-width: 0px 8px 8px 0px;
		border-style: solid;
		border-color: rgba(0,0,0,0) #3A4955 rgba(0,0,0,0) #3A4955;
		background: rgba(0,0,0,0);
		display: block;
		width: 0;
	}

	.note_title_container:after {
		content: "";
		position: absolute;
		bottom: -8px;
		right: 0px;
		border-width: 8px 8px 0px 0px;
		border-style: solid;
		border-color: #3A4955 rgba(0,0,0,0) rgba(0,0,0,0) #3A4955;
		background: rgba(0,0,0,0);
		display: block;
		width: 0;
	}
}

.note_title {
	background: none;
	width: 500px;
	margin-left: 10px;
}

.takenotedashboard,
.takenotecontainer {
	margin: auto;
	margin-top: 20px;
	position: relative;
	display: none;
}

.takenotedashboard,
.takenotecontainer.ready {
	display: block;
}

#note {
	position: relative;
}

.takenotedashboard .footer,
#note,
.messageArea {
	margin: 0 auto;
}

.messageArea {
	position: relative;
	margin-bottom: 20px;
	font-family: monospace;
	border: solid 1px #ccc;
	color: #333;
	padding: 10px 0px 20px 0px;
	text-indent: 4px;
	color: green;
	opacity: 0;
}

.messageArea.warning {
	color: #B38600;
}

.messageArea.error {
	color: red;
}

.messageArea.displayed {
	opacity: 1;
	-webkit-transition: opacity 0.4s ease-in;
}

.takenotecontainer h1 {
	font-size: 3em;
}

#notebody {
	position: relative;
	border: 1px solid gray;
	background: rgba(255,255,255, 0.7);
	margin-top: 18px;
	padding: 16px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(0, 0, 0, 0.5);
}

#newnote {
	height: 24px;
	width: 30px;
	position: absolute;
	top: 6px;
	right: 4px;
	padding: 5px;
	background-repeat: no-repeat;
	background-image: url(saveTiddler.png);
}

.notedate {
	float: right;
	color: rgba(0,0,0, 0.5);
	margin-left: 32px;
}

#notebody .note_text {
	color: #1A1F1E;
	background: transparent;
	width: 100%;
	border: none;
	outline: none;
	clear: both;
	font-family: Georgia;
	font-size: 1.3em;
	line-height: 1.3em;
}

#tips {
	padding: 8px;
	background-color: #DDD;
}

.imageTip img {
	width: 16px;
	height: 16px;
}

.boldTip, .underlineTip, .italicTip {
	margin-left: 2px;
	margin-right: 2px;
}

.boldTip {
	font-weight: bold;
}

.underlineTip {
	text-decoration: underline;
}

.italicTip {
	font-style: italic;
}

#metabutton {
	background: gray;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.3;
	border-radius: 0 0 5px 5px;
	padding: 10px;
	position: absolute;
	bottom: -52px;
	left: 224px;
	-webkit-transition: height 0.2s ease-in-out, bottom 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-moz-transition: height 0.2s ease-in-out, bottom 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-o-transition: height 0.2s ease-in-out, bottom 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-ms-transition: height 0.2s ease-in-out, bottom 0.2s ease-in-out, opacity 0.2s ease-in-out;
	transition: height 0.2s ease-in-out, bottom 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

#metabutton:hover {
	opacity: 0.7;
	height: 35px;
	bottom: -55px;
}

#newnote:hover,
#metabutton:hover {
	cursor: pointer;
}

#notemeta .paddedbox {
	padding: 10px;
}

#notemeta ul {
	list-style: none;
}

.removeTag {
	background-image: url(delete.png);
	background-size: 12px 16px;
	background-repeat: no-repeat;
	text-indent: -999px;
	overflow: hidden;
	width: 12px;
	height: 16px;
	display: inline-block;
	margin-left: 8px;
	margin-right: 8px;
	cursor: pointer;
}

.note_title {
	border: none;
	font-size: 3em;
	outline: none;
	padding: 0px 16px;
	text-align: center;
	text-shadow: 0px 1px 1px white;
}

.note_title:focus {
	text-shadow: none;
}

#deletenote {
	position: absolute;
	top: 4px;
	left: 4px;
	background-image: url(delete.png);
	background-repeat: no-repeat;
	height: 30px;
	width: 20px;
}

#cancelnote {
	position: absolute;
	top: 4px;
	visibility: hidden;
	right: 235px; /* 500 / 2 - 15px (half width of cancel button) */
	background-image: url(cancel.png);
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
}

.validatedNote #cancelnote {
	visibility: visible;
}

#cancelnote,
#deletenote,
#newnote {
	cursor: pointer;
	opacity: 0.3;
	overflow: hidden;
	text-indent: -9999px;
}

#cancelnote:hover,
#newnote:hover,
#deletenote:hover {
	opacity: 1;
}

#backstage a.connectionStatus:hover,
.connectionStatus {
	display: block;
	position: relative;
	-webkit-border-radius: 5px;
	background-color: red;
}

.online #backstage a.connectionStatus:hover,
.online .connectionStatus {
	display: block;
	background-color: green;
}

.connectionStatus:after {
	content: "offline";
	position: absolute;
	top: -6px;
	left: 15px;
	color: #ccc;
}
.online .connectionStatus:after {
	content: "online";
	position: absolute;
	top: -6px;
	left: 15px;
	color: #eee;
}

.requiresConnection {
	display: none;
}

.online .requiresConnection {
	display: block;
}


/* iphone mode */
@media screen and (orientation:portrait) and (max-width: 320px) {
	.note_title {
		padding: 0px;
	}

	#backstage {
		font-size: 0.8em;
	}

	.takenotedashboard,
	.takenotecontainer {
		width: 320px;
		font-size: 0.7em;
	}

	.header h1 {
		font-size: 2em;
	}

	.takenotedashboard .footer,
	#note,
	.messageArea {
		width: 300px;
	}

	#cancelnote {
		right: 145px; /* 320 / 2 - 15px (half width of cancel button) - 16px (padding on note_title) */
	}

	.note_title,
	.note_title_container {
		width: 300px;
		margin: auto;
	}
}

/* portrait mode */
@media screen and (orientation:portrait) and (min-width: 480px) {
	.note_title {
		padding: 0px;
	}

	.takenotedashboard,
	.takenotecontainer {
		width: 480px;
	}

	.takenotedashboard .footer,
	#note,
	.messageArea {
		width: 460px;
	}

	#cancelnote {
		right: 199px; /* 460 / 2 - 15px (half width of cancel button) - 16px (padding on note_title) */
	}

	.note_title,
	.note_title_container {
		width: 460px;
		margin: auto;
	}
}
